body {
    background-color: #fbf7ea;
    color: #444444;
}

p {
    font-size: 1.3em;
}

label {
    font-size: 1.3em;
}

div .step-disabled {
    opacity: 0.3;
}

/* from https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

div#main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    margin-bottom: 5em;
    line-height: 1.1em;

    h1 {
        text-align: center;
    }

    div.step {
        border: 2px solid #888888;
        padding: 15px;
        border-radius: 3px;
        background-color: #eaebed;
        margin: 20px;
        display: grid;

        margin-left: auto;
        margin-right: auto;

        h2 {
            grid-row: 1;
            grid-column: 1 / 3;
        }
    }

    div#storage {
        max-width: 70em;
        select#load-select {
            grid-row: 2;
            grid-column: 1 / 3;
        }

        button#save {
            grid-row: 3;
            grid-column: 1 / 2;
        }

    }

    div#step3 {
        max-width: 100em;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;

        div#leaflet-img-container {
            grid-row: 2;
            grid-column: 1 / 2;

            div#img-map {
                height: 400px;
            }
        }
        div#leaflet-map-container {
            grid-row: 2;
            grid-column: 2 / 3;
        }
    }

    div#step4 {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }

    div#step5 {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;

        div#polygons-map-container {
            grid-row: 3;
            grid-column: 1 / 3;
        }

        div.polygons-list {
            border: 2px solid #dddddd;

            height: 800px;
            overflow: auto;
            overflow-y: scroll;
        }

        div#polygons-list {
            grid-row: 3;
            grid-column: 3 / 4;
        }

        div#labeled-polygons-list {
            grid-row: 4;
            grid-column: 1 / 2;
        }

        div#deleted-polygons-list {
            grid-row: 4;
            grid-column: 2 / 3;
        }

        .polygon-list-element {
            height: 5em;
            background-color: #fffff;
            border: 2px solid #dddddd;
            margin: 10px;

            display: flex;

            .title {
                margin-top: auto;
                margin-bottom: auto;
                margin-left: 10px;
            }

            .color-preview {
                width: 3em;
                height: 3em;
                margin-top: auto;
                margin-bottom: auto;
                margin-left: 10px;
                margin-right: 10px;
            }

            .polygon-label {
                margin-top: auto;
                margin-bottom: auto;
                font-size: 1.4em;
            }

            .polygon-cross {
                margin-left: auto;
                margin-top: 5px;
                margin-bottom: auto;
                margin-right: 5px;
                font-size: 2em;
                cursor: pointer;
            }
        }

        a#download-geojson {
            grid-row: 5;
            grid-column: 1 / 3;
        }
    }
}
