doctype html
html
  head
    title Zoning map digitizer
    link(rel="stylesheet"
         href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
         integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
         crossorigin="")
    link(href="https://unpkg.com/leaflet-geosearch@latest/assets/css/leaflet.css" rel="stylesheet")
  body
    #main
      h1 Zoning Map Digitizer
      #storage.step
        h2 Save/Load
        select#load-select
        button#save Save
      #step1.step
        h2 Step 1: Upload PDF file
      #step2.step
        h2 Step 2: Segmentation
      #step3.step
        h2 Step 3: Mark location correspondences
        #leaflet-img-container
        #leaflet-map-container
      #step4.step
        h2 Step 4: Find colors and polygons
      #step5.step
        h2 Step 4: Select and label polygons
        #polygons-map-container
        #polygons-list

    script(src="/vendor.js")
    script(src="/pdf.worker.js")
    script(src="/app.js")
